[2013-10-23 10:58] yegor256 opened #1 "XML.xslt()"
Let's add a method for XSL transformation of XML

[2013-10-23 13:56] #1 closed, assigned to nobody

[2013-10-23 13:56] yegor256 opened #2 "XML.node() should return Document"
`XML.node()` should return `Document`

[2013-10-23 14:33] #2 closed, assigned to nobody

[2013-10-28 21:26] yegor256 opened #3 "XMLDocument should print with and without XML declaration"
`XMLDocument` should print with and without XML declaration

[2013-10-28 21:32] #3 closed, assigned to nobody

[2013-10-29 11:57] yegor256 opened #4 "XSD class"
Let's add a class that validates an XML document against its compliance to the provided XSD schema, e.g:

[code]

[2013-10-29 11:58] yegor256 opened #5 "RelaxNG class"
Let's add a class that validates an XML document against its compliance to the provided [RelaxNG](http://relaxng.org/tutorial-20011203.html) schema:

[code]

[2013-10-29 12:05] yegor256 opened #6 "XSL class"
Let's introduce `XSL` class and remove `XML#xslt()` method:

[code]

[2013-10-29 12:44] yegor256 opened #7 "XML#text()"
Let's add a new method `XML#text(String)` as a shortcut for `XML#xpath(String).get(0)`, and `XML#text(String, String)` (with a default value)

[2013-11-06 13:55] #4 closed, assigned to nobody

[2013-12-06 18:02] yegor256 opened #8 "StrictXML"
Let's add class `StrictXML`, which will implement `XML`, but do a schema validation on reading

[2013-12-08 08:44] #8 closed, assigned to nobody

[2013-12-08 08:44] #6 closed, assigned to nobody

[2014-01-05 12:35] yegor256 opened #9 "non-apache DOM implementation causes runtime exception"
[code]

[2014-01-05 13:12] #9 closed, assigned to nobody

[2014-03-09 15:16] #7 closed, assigned to nobody

[2014-03-09 15:17] #5 closed, assigned to nobody

[2014-03-09 15:17] yegor256 opened #10 "use com.jcabi:jcabi 1.4"
Let's use `com.jcabi:jcabi:1.4` as parent `pom` for the project

[2014-03-10 11:27] dmarkov opened #11 "pom.xml:98-100: Get rid of commons-lang3 dependency,..."
Puzzle `2-4b48606c` in `pom.xml:98-100` has to be resolved: Get rid of commons-lang3 dependency, or move it to "test" scope. It's not efficient for such a small and lightweight library to have a big dependency of this kind.

[2014-03-10 21:03] yegor256 opened #12 "make XMLDocument class @Immutable"
Let's make `XML` interface and `XMLDocument` class immutable (annotated with `com.jcabi.aspects.Immutable`)

[2014-03-11 09:47] yegor256 opened #13 "NPE in XMLDocument#toString()"
In multi-threaded execution NPE surfaces sometimes in `XMLDocument#toString()`:

[code]

[2014-03-11 11:01] dmarkov opened #14 "pom.xml:84-90: Get rid of reb4j dependency..."
Puzzle `2-5feea170` in `pom.xml:84-90` has to be resolved: Get rid of reb4j dependency and build that regular expression on compile phase, somehow. Maybe we can use some sort of Groovy plugin, which will create the expression and store it in a plain text file, which will be used later in runtime. It's important to leave expression building mechanims maintainable. If we just hard-code the expressio

[2014-03-13 10:28] dmarkov opened #16 "pom.xml:107-109: Get rid of commons-io dependency,..."
Puzzle `2-b54ace9f` in `pom.xml:107-109` has to be resolved: Get rid of commons-io dependency, or move it to "test" scope. It's not efficient for such a small and lightweight library to have a big dependency of this kind.

[2014-03-13 13:17] #10 closed, assigned to nobody

[2014-03-14 11:05] #11 closed, assigned to nobody

[2014-03-17 09:03] #16 closed, assigned to nobody

[2014-03-21 05:46] carlosmiranda opened #19 "XPathContext should be immutable"
The Javadoc for `XPathContext` helpfully tells us the following: "The class is immutable and thread-safe." This is a blatant lie. :)
1. It's not annotated with `@Immutable`. And even if it were, it wouldn't work because...
2. The fields `map` and `contexts` are instantiated with mutable types.
3. The `merge` method creates a new instance and _manipulates its_ `map` _field_ before returning it.

We

[2014-03-24 09:40] #19 closed, assigned to nobody

[2014-03-28 09:15] #14 closed, assigned to nobody

[2014-04-05 07:28] krzyk opened #22 "StrictXML should validate against xsi:schemaLocation"
Right now `StrictXML` validates only using external XSD provided in constructor, it should have also an ability to validate against schema provided in `xsi:schemaLocation` inside the XML.

[2014-04-21 02:53] carlosmiranda opened #23 "Unused private static final constant in XMLDocument and XSLDocument"
In `XMLDocument` and `XSLDocument` we have the following field:

[code]

They're not used internally, being superseded by migration to `TextResource` (see #16). We should be able to remove them.

[2014-04-21 11:44] #23 closed, assigned to nobody

[2014-04-23 17:45] #12 closed, assigned to nobody

[2014-04-23 19:09] #22 closed, assigned to nobody

[2014-04-24 13:32] yegor256 opened #27 "xpath() can't calculate non-elements"
This doesn't work, but it should:

[code]

[2014-05-01 14:59] #27 closed, assigned to nobody

[2014-05-14 07:42] yegor256 opened #29 "xpath() doesn't work with processing instructions"
This code works fine in version 0.7.8:

[code]

However it doesn't work in version 0.8

[2014-05-19 11:41] #13 closed, assigned to nobody

[2014-05-20 12:44] #29 closed, assigned to nobody

[2014-08-15 08:10] yegor256 opened #30 "skin 1.4"

[2014-08-15 08:26] #30 closed, assigned to nobody

[2014-08-18 01:21] carlosmiranda opened #31 "StrictXML should be able to look up XSDs from classpath"
Related to https://github.com/teamed/qulice/issues/273. StrictXML should be able to find XSDs in the classpath in addition to URL lookups. In the example below, it should be able to validate the XML against a classpath resource `spring-beans-2.0.xsd`.

[code]

See here for more details: https://stackoverflow.com/questions/2342808/problem-validating-an-xml-file-using-java-with-an-xsd-having-an-incl

[2014-08-21 03:03] carlosmiranda opened #32 "StrictXML should be able to retry upon network failure"
At the moment, if a network failure is experienced when StrictXML attempts to find the XSDs, it'll fail validation. Instead, it should retry a few times since network problems are likely to be intermittent.

See https://github.com/teamed/qulice/issues/280.

[2014-09-07 12:32] yegor256 opened #33 "XSLChain"
Let's create a chain of XSLs

[2014-09-07 12:43] #33 closed, assigned to nobody

[2014-09-12 18:51] yegor256 opened #34 "remove AOP aspects"

[2014-09-12 22:16] #34 closed, assigned to nobody

[2014-10-13 20:30] krzyk opened #35 "XML should have a method to retrieve compact xml"
Both ``XMLDocument`` and ``StrictXML`` should have a method to return XML in more compact way (without unnecessary white spaces)

[2014-11-04 18:29] yegor256 opened #36 "APT instead of MD"

[2014-11-04 19:06] #36 closed, assigned to nobody

[2014-11-20 12:08] yegor256 opened #37 "show XPath implementation on query failure"

[2014-11-21 08:34] #37 closed, assigned to nobody

[2015-01-02 12:48] dpisarenko opened #38 "Can't run IndexesRequestsTest.retrievesIndexFromSibling in IntelliJ on Windows"
When I try to run the test `com.rultor.agents.github.IndexesRequestsTest.retrievesIndexFromSibling` in IntelliJ Idea 13 on Windows 7, the test fails with the following exception:

[code]

Please make sure that all tests in `com.rultor.agents.github.IndexesRequestsTest` can be run both via Maven and from the IDE.

[2015-01-02 13:03] dmarkov commented on #38
I'll ask someone to take care of this task soon

[2015-01-02 13:05] dmarkov commented on #38
@apocarteres this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-01-02 13:06] dmarkov commented on #38
@dpisarenko thanks for this report, I added 15 mins to your account, in transaction `49719999`

[2015-01-02 13:07] apocarteres commented on #38
ok.got it

[2015-01-03 16:42] apocarteres commented on #38
i'm sorry for silly question, but there did u find class <code>com.rultor.agents.github.IndexesRequestsTest</code> ?
There is no such class in this repo

[2015-01-03 16:45] dpisarenko commented on #38
It's part of the rultor project - https://github.com/yegor256/rultor/blob/master/src/test/java/com/rultor/agents/github/IndexesRequestsTest.java    03.01.2015, 19:42, "Alexander Paderin" <notifications@github.com>:i'm sorry for silly question, but there did u find class com.rultor.agents.github.IndexesRequestsTest ?  There is no such class in this repo—Reply to this email directly or view it on Gi

[2015-01-03 17:06] apocarteres commented on #38
can't reproduce it yet, but faced another build fail culprit #701

[2015-01-03 17:17] apocarteres commented on #38
btw, can you supply your <code>mvn --version</code>  pls? Does ypur IDE Maven plugin point  to system Maven installation, or probably you have several Maven installations? If so, provide all environments for them please

[2015-01-06 08:30] yegor256 opened #39 "better logging of failures in XMLDocument"

[2015-01-06 08:55] #39 closed

[2015-01-07 22:16] darkled commented on #32
@carlosmiranda the changes were merged, please, check it.

[2015-01-08 05:25] carlosmiranda commented on #32
@darkled looks good, thanks! Closing now...

[2015-01-08 05:25] #32 closed

[2015-01-08 09:59] yegor256 commented on #35
@dmarkov please assign someone else

[2015-01-08 10:42] dmarkov commented on #31
@cyberone you're holding this ticket for 13 days already. If it's not finished (and closed) in the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -30 to your rating, your total score is [-190](http://www.netbout.com/b/35076?open=rating)

[2015-01-08 11:51] carlosmiranda commented on #32
@yegor256 Can we release this fix so that we can use it in teamed/qulice#280?

[2015-01-08 16:33] maurezen opened #41 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-09 20:51] yegor256 commented on #32
@rultor release, tag is `0.15`

[2015-01-09 20:51] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1529-69396965)

[2015-01-09 21:06] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1529-69396965) (took me 15min)

[2015-01-12 10:02] dmarkov commented on #35
@yegor256 no problem, I'll try to find somebody else

[2015-01-12 11:00] dmarkov commented on #31
@cyberone this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is [-610](http://www.netbout.com/b/35076?open=rating)

[2015-01-12 11:00] dmarkov commented on #32
@darkled thanks, I just added **30 mins** to your account, payment `50043249`... +30 added to your rating, current score is: [-30](http://www.netbout.com/b/35091?open=rating)

[2015-01-13 12:17] dmarkov commented on #32
there is a puzzle in this code `32-8743edc8`, we'll resolve it later

[2015-01-13 13:14] dmarkov commented on #31
@aoxa it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-don

[2015-01-13 13:14] dmarkov commented on #35
@pinaf this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-13 13:14] dmarkov commented on #38
@apocarteres you're holding this ticket for 11 days already. If it's not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/35111?open=rating)

[2015-01-13 14:50] pinaf commented on #35
@dmarkov @yegor256 I can't fix the line break after tags issue with XSL. Setting **indent="no"** in the XSL should handle this as can be seen [here](http://xsltransform.net/eiZQaFa), but it seems the default java implementation of the XSL processor does not honor that. Suggestions?

[2015-01-13 14:53] yegor256 commented on #35
@pinaf if it's a bug in Java XSL implementation, this is not our problem. But I think we're using Saxon in this library, aren't we?

[2015-01-13 15:01] pinaf commented on #35
@yegor256 I don't see any reference to saxon in pom.xml.

[2015-01-13 15:29] apocarteres commented on #38
it's duplicate of #654. try to run it under Java7 to confirm that it will be success

[2015-01-13 15:30] apocarteres commented on #38
@dpisarenko it's duplicate of #654. try to run it under Java7 to confirm that it will be success

[2015-01-13 15:31] yegor256 commented on #35
@pinaf in that case, implement it with `indent=no` and test with Saxon (or some other Java XSL implementation). And document in Javadoc, that this may not work with standard Java implementation.

[2015-01-13 21:06] pinaf commented on #35
@yegor256 turns out the problem was something else. When the source XML already has line breaks, STRIP doesn't remove them. `indent=no` just keeps the XSL processor from adding indentation of its own. Also, STRIP doesn't ADD line breaks - those come from the call to `trans.setOutputProperty(OutputKeys.INDENT, "yes")` inside the method `XMLDocument.asString`, which gets called whenever you construc

[2015-01-13 21:15] yegor256 commented on #35
@pinaf looks like the problem is not with XSL, but with `XMLDocument#toString()`, right? This method adds indentation. Maybe we can introduce a new method `XML#compact()`, which will return another instance of `XML`, that prints itself without indentation:

[code]

This will solve the problem, right?

[2015-01-13 21:38] pinaf commented on #35
@yegor256 `toString` just returns a String field called `xml` which gets calculated in `asString` with indentation. `xml` is the internal representation (in String form) of the XML document and it is calculated from a `Node` given to the constructor. Once `asString` is finished, `xml` can no longer be changed (final) and since the original `Node` element was not kept, there is no way to go back to

[2015-01-13 21:43] yegor256 commented on #35
@pinaf I see. So, we should document all this in the Javadoc of `STRIP` and call it a day. We simply can't provide the functionality asked by @krzyk. If he needs a compact (without indentation) presentation of an XML document, he should get `Node` from `XML` using `node()` method and then convert it into string using native Java transformer.

[2015-01-13 21:57] pinaf commented on #35
@yegor256 Alright, but calling `node()` wouldn't work either because it creates a new `Node` from the `String xml` already constructed with indentation.

Is it alright to also add a link to this discussion in the Javadoc or is that something you don't like?

[2015-01-13 22:17] yegor256 commented on #35
@pinaf it's better to keep the source code detached from the discussion tickets

[2015-01-13 22:28] pinaf commented on #35
@dmarkov @krzyk PR #42

[2015-01-14 07:08] dmarkov opened #43 "StrictXMLTest.java:171-176: This test does nothing useful..."
Puzzle `32-8743edc8` in `src/test/java/com/jcabi/xml/StrictXMLTest.java:171-176` has to be resolved: This test does nothing useful for the moment, to be a real test it needs to mock com.jcabi.xml.StrictXML.newValidator() and new mocked validator should throw few SocketException's while executing javax.xml.validation.Validator.validate(Source) in order to simulate the situation with network problem

[2015-01-14 10:16] dmarkov commented on #43
@alevohin the task is yours

[2015-01-14 16:31] pinaf opened #44 "Test XSLDocumentTest.stripsXml doesn't complete in AppVeyor"
Possibly caused by the \n character in a Windows environment.
[code]

See [log](https://ci.appveyor.com/project/yegor256/jcabi-xml/build/6).

[2015-01-15 12:54] dpisarenko commented on #38
Yes, with Java 7 it seems to work.

[2015-01-15 12:54] #38 closed

[2015-01-16 16:05] pinaf commented on #35
@krzyk @dmarkov merged. please close.

[2015-01-16 19:36] #35 closed

[2015-01-19 20:54] maurezen opened #46 "Error in XPathFactory#newInstance"
While running some of the tests of [rultor](https://github.com/yegor256/rultor) (IndexesRequestsTest, for example), ran into the incorrect config of Saxon 9.1.0.8, used in jcabi-xml code.

at javax.xml.xpath.XPathFactory.newInstance(XPathFactory.java:102)
	at com.jcabi.xml.XMLDocument.<clinit>(XMLDocument.java:84)

This is a [known bug](https://saxonica.plan.io/issues/1944#note-3).

Please upgrade

[2015-01-19 21:05] yegor256 commented on #46
but jcabi-xml doesn't depend on Saxon... or I miss something?

[2015-01-19 21:15] maurezen commented on #46
Checked now - you're right, it does not. Rultor does. Will reopen the issue in rultor.

[2015-01-19 21:15] #46 closed

[2015-01-19 21:25] maurezen opened #47 "XSLDocumentTest.stripsXml fails under Windows"
XSLDocumentTest.stripsXml:142
Expected: a string containing "<a>\n<b/>\n</a>"
     but: was "<?xml version="1.0" encoding="UTF-8" standalone="no"?>`
`<a>`
`<b/>`
`</a>`
`"`

Test implementation does not account for the system-dependant line separator. Please use `line.separator` system property, `String#format` or other system-agnostic implementation.

[2015-01-20 00:35] pinaf commented on #35
@dmarkov payment?

[2015-01-20 04:25] alevohin commented on #43
@dmarkov PR merged. Please check and close issue.

[2015-01-20 07:12] dmarkov commented on #47
I'll ask someone to take care of this task soon

[2015-01-20 07:14] dmarkov commented on #47
@jenya This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-20 07:15] dmarkov commented on #47
@maurezen many thanks for the report, I topped your account for 15 mins, transaction 50516543

[2015-01-20 11:34] dmarkov commented on #35
@pinaf I just added **30 mins** to your account, many thanks for your contribution..... added +30 to your rating, now it is equal to [+105](http://www.netbout.com/b/35128?open=rating)

[2015-01-20 11:34] dmarkov commented on #38
@apocarteres Thanks a lot, I just topped your account for **30 mins**, transaction ID `50519745`

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/35111?open=rating)

[2015-01-20 15:31] pinaf commented on #35
@dmarkov thanks

[2015-01-21 11:09] dmarkov commented on #47
@apocarteres the task is yours

[2015-01-21 13:12] jenya commented on #47
@dmarkov Why have you reassign this task (and one more other) off me? You gave them to me only yesterday... Or should I always say "I'll take it" on each task?

[2015-01-21 13:13] yegor256 commented on #47
@jenya we had no feedback from your for a few weeks, that's why decided to remove you from the projects. are you interested to get back?

[2015-01-21 13:19] jenya commented on #47
@yegor256 Yes, I'd like to get back back.

[2015-01-21 13:42] yegor256 commented on #47
ok, please create an account in www.netbout.com and give me your name there, we'll communicate there

[2015-01-21 15:29] apocarteres opened #49 "Illegal character in path at index 19: file://C:/Documents and Settings/JustUser/.m2/repository/com/ jcabi/jcabi-aspects/0.20.1/jcabi-aspects-0.20.1.jar on Windows / Java7"
<pre>
[INFO] -------------------------------------------------
[INFO] Build Summary:
[INFO]   Passed: 2, Failed: 0, Errors: 0, Skipped: 0
[INFO] -------------------------------------------------
[INFO]
[INFO] --- qulice-maven-plugin:0.10:check (jcabi-check) @ jcabi-xml ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------

[2015-01-21 15:34] apocarteres commented on #47
please check and merge PR https://github.com/jcabi/jcabi-xml/pull/48

[2015-01-21 16:39] yegor256 commented on #49
@apocarteres how can I reproduce it?

[2015-01-21 17:20] apocarteres commented on #49
just kick off <code>mvn -e clean install -Pqulice</code> on WIndows box

[2015-01-21 17:39] alevohin commented on #43
@dmarkov PR merged. Please check and close issue.

[2015-01-21 23:01] maurezen opened #50 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 07:45] dmarkov commented on #49
we'll find someone to do this task, soon

[2015-01-22 07:46] dmarkov commented on #43
The issue should be closed..

[2015-01-22 07:46] #43 closed

[2015-01-22 11:29] dmarkov commented on #43
@alevohin Much obliged! I've added **30 mins** to your account in payment "50593419"... +30 added to your rating, current score is: [+330](http://www.netbout.com/b/35105?open=rating)

[2015-01-22 11:31] dmarkov commented on #49
@apocarteres many thanks for the report, I topped your account for 15 mins, transaction 50596229

[2015-01-25 17:08] dpisarenko opened #52 "`mvn clean install -Pqulice` fails under Windows"
When I try to build a freshly checkout out `jcabi-xml`, I get following error (`mvn clean install -Pqulice`):

[code]

[2015-01-25 18:26] yegor256 commented on #52
@dpisarenko looks like a duplicate of #47, isn't it?

[2015-01-25 18:33] dpisarenko commented on #52
@yegor256 Yes.

[2015-01-25 18:33] #52 closed

[2015-01-28 07:46] apocarteres commented on #47
@maurezen it's merged. please check

[2015-01-28 08:37] #47 closed

[2015-01-28 09:01] dmarkov commented on #49
@maurezen it's your task, go ahead

[2015-01-28 12:43] dmarkov commented on #31
@aoxa you're working with this ticket for the last 15 days. If it's not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is: -210

[2015-01-30 07:07] dmarkov commented on #47
@apocarteres Thanks a lot, I just topped your account for **30 mins**, transaction ID `50953458`

added +30 to your rating, now it is equal to [+75](http://www.netbout.com/b/35111?open=rating)

[2015-02-03 10:47] maurezen commented on #49
@dmarkov @yegor256 this is a known problem of creating an URI containing a space. The problem is in qulice, created an issue here, on which I depend: teamed/qulice#397

[2015-02-05 10:59] maurezen commented on #49
@yegor256 any comments? do you approve the dependency?

[2015-02-06 08:19] dmarkov commented on #31
@aoxa this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, at the moment it is: -630

[2015-02-07 10:59] maurezen commented on #49
@yegor256 any comments?

[2015-02-08 06:49] yegor256 commented on #49
@dmarkov we need some more time here, we depend on a qulice bug

[2015-02-09 08:27] dmarkov commented on #49
@yegor256 right, take your time and thanks for informing

[2015-02-12 06:55] lightoze opened #53 "Extensive global synchronizations"
These global synchronizations around resource-intensive code should be avoided:
https://github.com/jcabi/jcabi-xml/blob/master/src/main/java/com/jcabi/xml/XSLDocument.java#L275
https://github.com/jcabi/jcabi-xml/blob/master/src/main/java/com/jcabi/xml/XSDDocument.java#L168
https://github.com/jcabi/jcabi-xml/blob/master/src/main/java/com/jcabi/xml/XSDDocument.java#L184

[2015-02-12 07:13] lightoze opened #54 "Repetitive parsing results should be cached"
Reusing objects is very ineffective because a lot of parsing is done on each request. Most important points for optimization:
- XMLDocument.node()
- Schema parsing in XSDDocument.validate() - result is thread-safe
- Transformer creation in XSLDocument.transformInto() - result is not thread-safe and object synchronization is required

[2015-02-12 08:07] yegor256 commented on #53
@lightoze this is on purpose, because DOM is not thread-safe, but we promise that our classes are thread-safe.

[2015-02-12 09:02] lightoze commented on #53
Let's look at XLSDocument case first. You create local TransformerFactory and Transformer instances, so you should not worry about them. DOM itself is a potential source of a problem (when the same document is used in concurrent transformations), but in this case synchronization should be on `xml`, `xml.node()` or whatever.

[2015-02-12 17:03] yegor256 commented on #53
The problem is that creating a local instance of `Transformer` doesn't make it thread safe :( I believe it's full of static properties inside.

[2015-02-12 19:29] lightoze commented on #53
Do you want to say that it's impossible to run two concurrent XSL transformations inside the same JVM?That's ridiculous.
Transformer [documentation](http://docs.oracle.com/javase/6/docs/api/javax/xml/transform/Transformer.html) says clearly: An object of this class may not be used in multiple threads running concurrently. Different Transformers may be used concurrently by different threads.

[2015-02-13 18:25] yegor256 commented on #53
Yes, that's exactly what I'm saying and I have a test that proves it. Take a look: https://github.com/jcabi/jcabi-xml/blob/master/src/test/java/com/jcabi/xml/XSLDocumentTest.java#L72-L98

Try to remove `@Ignore` from the test and then remove synchronization. Then, run `mvn clean test` and you will see what happens.

[2015-02-13 18:32] yegor256 commented on #54
@lightoze I totally agree that `XMLDocument.node()` has to be optimized. Now it's re-parsing the entire document over and over again, on every call.

For other issues you mentioned, please submit separate tickets. We work one ticket per problem. Hope you don't mind :)

Thanks for pointing out to this problem!

[2015-02-13 20:33] lightoze commented on #53
Just did exactly what you suggested - the test is not failing with removed synchronization. Can you reproduce it yourself now?
Tested with JRE 1.8.0_31 and 1.7.0_76

[2015-02-16 07:50] dmarkov commented on #54
this task will get someone's attention soon

[2015-02-16 07:52] dmarkov commented on #54
@maurezen it's yours, budget is 30 mins, please go ahead

[2015-02-19 12:36] maurezen commented on #54
@yegor256 @lightoze at the moment we can't cache the parsing result, since `XMLDocument` is `@Immutable` and the cacheable result is an interface which is not (either `Document`, `Element` or `Node`). Should we lift the immutability requirements from `XMLDocument` in order to improve performance?

[2015-02-19 23:57] yegor256 opened #55 "XSL params"
Let's enable XSL params:

[code]

[2015-02-20 00:12] yegor256 commented on #55
@rultor release, tag is `0.16`

[2015-02-20 00:13] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2040-75166536)

[2015-02-20 00:27] rultor commented on #55
Release `0.16` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-02-20 00:27] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2040-75166536) (took me 13min)

[2015-02-20 00:31] #55 closed

[2015-02-20 04:29] yegor256 commented on #54
@maurezen we need a workaround. let's try to use an array of `Node` with a single element. I think `@Immutable` will be fine with it

[2015-02-20 09:28] maurezen commented on #54
@yegor256 I've tried that, of course. Doesn't work. Had to use a field of 'Object' type.
Created a pull request #56.

[2015-02-20 17:42] yegor256 commented on #54
@rultor release, tag is `0.16.1`

[2015-02-20 17:44] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2053-75285148)

[2015-02-20 17:58] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2053-75285148) (took me 14min)

[2015-02-20 18:00] yegor256 commented on #54
@maurezen thanks!

[2015-02-20 19:02] maurezen commented on #54
@yegor256 @lightoze fixed, please close the issue.

[2015-02-22 20:02] maurezen commented on #54
@yegor256 @lightoze ping.

[2015-02-23 08:38] dmarkov commented on #31
@adko-pl the task is yours, go ahead

[2015-02-23 09:04] dmarkov commented on #32
the last puzzle `32-8743edc8`/#43 originated from here solved

[2015-02-23 20:02] adko-pl opened #57 "Build fails because of quilice issues"
On my Mac and Windows 7 I unable to build the sources because of quilice issues:

    Unable to get XClass for java/lang/StringBuilder
    java.lang.ArrayIndexOutOfBoundsException: 5747
    <stacktrace>

[output](https://drive.google.com/file/d/0B3oU0TckBsdzRW16cVVxU2lRLXM/view?usp=sharing) generated using `mvn clean install -Pqulice -l maven.debug.log -X`

[2015-02-23 20:10] adko-pl commented on #31
@dmarkov I am unable to progress on this task because of #57

[2015-02-23 20:29] yegor256 commented on #57
what is your environment? Maven, Java? I build it without any issues (maven 3.2.3, java 7, Mac)

[2015-02-23 20:29] yegor256 commented on #31
@dmarkov we're blocked by #57 here

[2015-02-23 21:03] adko-pl commented on #57
I did more investigation, Java 8 (1.8.0_25) is causing this problem, with Java 1.7.0_71 it works fine.

[2015-02-24 07:31] yegor256 commented on #57
@adko-pl try now

[2015-02-24 07:47] dmarkov commented on #31
@yegor256 got it, let's wait for #57

[2015-02-24 11:24] adko-pl commented on #57
@yegor256 it works now, closing the issue

[2015-02-24 11:24] #57 closed

[2015-02-24 17:51] adko-pl opened #58 "Unable to add new classes due to Copyright 2012-2014 header check"
It is impossible to add new classes to the project codebase due to the following qulice check:

    [ERROR] /src/main/java/com/jcabi/xml/ClasspathInput.java[2]: Line does not match expected header line of ' * Copyright (c) 2012-2014, jcabi.com'. (HeaderCheck)

[2015-02-24 18:12] adko-pl commented on #31
@dmarkov #57 is resolved, now we're blocked by #58 here

[2015-02-24 18:14] yegor256 commented on #58
@adko-pl just use the same header as all other `.java` classes have. or I missed the point?

[2015-02-24 18:45] adko-pl commented on #31
@dmarkov Changes delivered in https://github.com/jcabi/jcabi-xml/pull/59

[2015-02-24 22:01] maurezen commented on #54
@lightoze ping. please close the issue.

@yegor256 what do we do if the issue reporter doesn't show up?

[2015-02-24 22:04] lightoze commented on #54
@maurezen I expected that project owner will close it after review.

[2015-02-24 22:04] #54 closed

[2015-02-25 07:29] dmarkov commented on #31
@adko-pl issue #57 is closed already

[2015-02-25 07:29] dmarkov commented on #31
@adko-pl sure, let's wait for #58, #57

[2015-02-25 21:46] maurezen commented on #54
@lightoze sorry, I should have explicitly asked you to close.

@dmarkov the task is closed.

[2015-02-26 07:46] adko-pl opened #60 "jcabi-xml cannot be built using Java 6"
jcabi-xml build fails on travis on master https://travis-ci.org/jcabi/jcabi-xml/jobs/52097246 because `System.lineSeparator()` was added in Java 7

[2015-02-26 07:47] adko-pl commented on #31
@dmarkov now we're blocked by #60 here

[2015-02-26 07:57] dmarkov commented on #54
@maurezen Thanks for your contribution, **30 mins** was added to your account, payment ID is `52455818`

added +30 to your rating, now it is equal to [+1185](http://www.netbout.com/b/35102?open=rating)

[2015-02-26 09:37] dmarkov commented on #31
@adko-pl got it, let's wait for #60

[2015-02-26 11:36] dmarkov commented on #31
we waited for #57, it is closed already

[2015-02-26 13:43] adko-pl commented on #58
@yegor256 ok, I've used this workaround, however one day the headers would have to be updated.

[2015-02-28 08:01] adko-pl commented on #31
@dmarkov changes have been merged https://github.com/jcabi/jcabi-xml/pull/59#issuecomment-76296982

[2015-03-01 03:10] yegor256 commented on #58
@adko-pl the problem with headers is already reported in #41

[2015-03-02 07:04] dmarkov commented on #58
@yegor256 please don't close it.. @adko-pl could you please close it, if it is done?

[2015-03-02 07:25] #58 closed

[2015-03-02 07:25] yegor256 commented on #58
it's a duplicate

[2015-03-02 08:28] dmarkov commented on #31
Issue #58 is already closed (we were waiting for it) Maybe we can continue..

[2015-03-02 11:10] adko-pl commented on #58
duplicate of #41, should be closed

[2015-03-07 19:02] adko-pl commented on #31
@dmarkov despite #60 the changes for this task have been merged already, we can close this ticket

[2015-03-20 19:45] yegor256 opened #61 "get rid of AspectJ"
Let's get rid of AspectJ in this library, it's redundant

[2015-03-20 20:30] yegor256 commented on #60
@adko-pl fixed in cb24afe thanks

[2015-03-20 20:30] #60 closed

[2015-03-20 21:08] yegor256 opened #62 "XPath "//" doesn't work on cloned nodes"
This test doesn't work:

[code]

[2015-03-24 07:06] dmarkov commented on #61
we will find someone to do this task, soon

[2015-03-24 07:06] dmarkov commented on #62
@yegor256 right, I added the `bug` tag

[2015-03-24 07:07] dmarkov commented on #31
FYI, issue #60 is already closed, and we were waiting for it..

[2015-03-24 07:08] dmarkov commented on #61
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-b1b18026`

[2015-03-26 07:47] dmarkov commented on #62
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-6df0335a`

[2015-03-27 18:38] adko-pl commented on #31
@dmarkov the changes for this ticket have been merged a month ago https://github.com/jcabi/jcabi-xml/pull/59#issuecomment-76296982, please close this ticket

[2015-04-07 07:26] dmarkov opened #63 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:52] dmarkov opened #64 "0.16"
Please, publish a new release **0.16** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 11:44] dmarkov opened #65 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-11 11:27] maurezen commented on #49
@apocarteres I believe that the problem was fixed when parent artefact version was changed to 1.17 (and therefore qulice dependency version was changed to 0.12) on 24.02. Could you please check that this is indeed the case and if so, close the issue?

[2015-05-12 07:24] dmarkov commented on #64
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 08:01] dmarkov commented on #64
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-18 05:21] yegor256 commented on #31
@adko-pl you should ask ticket reporter to close the ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-05-18 06:31] adko-pl commented on #31
@carlosmiranda please close this ticket

[2015-05-18 06:49] carlosmiranda commented on #31
@adko-pl Thanks!

[2015-05-18 06:49] #31 closed

[2015-05-19 08:08] dmarkov commented on #31
@adko-pl Much obliged! I have added **30 mins** to your account in payment "AP-2D438667SP010891U", 1320 hours and 58 mins spent

+30 added to your rating, at the moment it is: [+1](http://www.netbout.com/b/35150?open=rating)

[2015-06-01 07:32] dmarkov commented on #65
@yegor256 Done, the task is closed

[2015-06-01 07:32] #65 closed

[2015-06-04 08:30] dmarkov commented on #63
@yegor256 Closing this issue now...

[2015-06-04 08:30] #63 closed

[2015-06-04 08:30] dmarkov commented on #64
@yegor256 We are done here, thanks all

[2015-06-04 08:30] #64 closed

[2015-06-05 07:56] dmarkov commented on #62
@suseika please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-05 13:30] Suseika commented on #62
@yegor256 Can you please clarify what exactly is the undesired behavior? In the test you pushed, an h9 node doesn't seem to be appended to a document.

[2015-06-05 17:00] yegor256 commented on #62
@Suseika see this test:  1bc7fc1 It fails, but it shouldn't, as I understand

[2015-06-05 17:01] yegor256 commented on #62
@Suseika this test works fine if we get rid of cloning. But we need cloning to preserve immutability

[2015-06-05 17:48] Suseika commented on #62
@yegor256 This issue's title speaks about `XML#node()` method, there is no `XML#node()` call in 1bc7fc1. I still don't see a way to reproduce the problem I'm assigned to, to me 1bc7c1 looks like another problem.

[2015-06-05 20:56] yegor256 commented on #62
@Suseika you're right, I updated the description of the ticket and its title

[2015-06-10 10:43] YamStranger opened #66 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-11 07:47] Suseika commented on #62
@yegor256 Will you please check the PR?

[2015-06-11 19:35] Suseika commented on #62
@dmarkov The task is done.

[2015-06-12 01:52] yegor256 commented on #62
@Suseika thanks!

[2015-06-12 01:52] #62 closed

[2015-06-12 01:53] yegor256 commented on #62
@rultor release, tag is `0.16.2`

[2015-06-12 01:53] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4153-111323881)

[2015-06-12 02:03] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4153-111323881) (took me 10min)

[2015-06-15 04:54] Suseika commented on #62
@dmarkov It's been 3 days, are you going to send a payment?

[2015-06-15 08:44] dmarkov commented on #62
@suseika thanks, paid, **30 mins** to your account, payment ID is `AP-3VW99570XF804425V`, task took 169 hours and 26 mins to complete

+30 to your rating, your total score is [+60](http://www.netbout.com/b/35381?open=rating)

[2015-06-15 08:45] dmarkov commented on #44
@yegor256 please do something about this issue

[2015-06-15 08:45] dmarkov commented on #50
@yegor256 please pay attention to this issue

[2015-06-15 08:45] dmarkov commented on #66
@yegor256 please do something about this issue

[2015-06-15 08:45] dmarkov commented on #41
@yegor256 please pay attention to this issue

[2015-06-16 00:23] yegor256 commented on #44
@pinaf it's passing now at appveyor... looks like this issue is outdated. closing

[2015-06-16 00:23] #44 closed

[2015-06-16 00:23] yegor256 commented on #50
@maurezen it's already fixed, we're using the latest version of jcabi-parent, thanks

[2015-06-16 00:23] #50 closed

[2015-06-16 00:33] yegor256 commented on #41
@maurezen updated, thanks

[2015-06-16 00:33] #41 closed

[2015-06-16 22:14] yegor256 commented on #66
@YamStranger at the moment the build is clean on AppVeyor

[2015-06-16 22:14] #66 closed

[2015-06-16 22:25] YamStranger commented on #66
@yegor256. Please reopen this issue, it is not invalid. And it should be fixed
It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some

[2015-06-23 12:57] kolowheel opened #68 "getParentNode() doesn't work"
getParentNode().getParentNode() returns null

        <dependency>
            <groupId>com.jcabi</groupId>
            <artifactId>jcabi-xml</artifactId>
            <version>1.0-SNAPSHOT</version>
        </dependency>

[2015-06-26 13:12] dmarkov commented on #68
@yegor256 dispatch this issue please

[2015-06-29 04:20] yegor256 commented on #68
@kolowheel it's by design in DOM. `getParentNode()` returns `NULL` when there is no parent node (we're at the top of node hierarchy)

[2015-06-29 04:20] #68 closed

[2015-10-02 13:33] dmarkov commented on #61
@tmjee it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-03 14:02] tmjee commented on #61
@dmarkov done in pull #69

[2015-10-05 11:19] longtimeago commented on #61
@yegor256 possibly stupid question, just to be sure - do you want to get rid of
1) jcabi-aspects +  AspectJ
2) or  AspectJ only?
Don't know if the second option is possible.

[2015-10-05 18:07] yegor256 commented on #61
@longtimeago both of them

[2015-10-06 05:36] longtimeago commented on #61
@yegor256 thanks, got it

[2015-10-08 17:40] yegor256 opened #70 "StrictXML is not verbose enough"

[2015-10-08 18:41] yegor256 commented on #70
@rultor release, tag is `0.16.3`

[2015-10-08 18:42] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5393-146649420)

[2015-10-08 18:48] rultor commented on #70
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5393-146649420) (spent 6min)

[code]

[2015-10-08 18:56] yegor256 commented on #70
@rultor release, tag is `0.16.3`

[2015-10-08 18:57] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5393-146654052)

[2015-10-08 19:08] rultor commented on #70
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5393-146654052) (spent 10min)

[code]

[2015-10-08 19:11] yegor256 commented on #70
@rultor release, tag is `0.16.3`

[2015-10-08 19:13] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5393-146659058)

[2015-10-08 19:25] rultor commented on #70
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5393-146659058) (spent 12min)

[code]

[2015-10-08 19:33] yegor256 commented on #70
@rultor release, tag is `0.16.3`

[2015-10-08 19:34] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5393-146664398)

[2015-10-08 19:52] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5393-146664398) (took me 18min)

[2015-10-08 19:53] #70 closed

[2015-10-16 11:05] dmarkov opened #72 "pom.xml:217-221: This reporting doesn't work, becuase..."
Puzzle `70-64aec8f3` in `pom.xml:217-221` has to be resolved: This reporting doesn't work, becuase of a conflict with Patterns.java file, which is generated on fly and doesn't really have a source. See the log here, for example: http://www.rultor.com/t/5393-146659058 Let's fix it somehow and enable this profile again.... The puzzle was created by Yegor Bugayenko on 8-Oct-2015.

If you have any tec

[2015-10-16 11:05] dmarkov commented on #70
@yegor256 there is a puzzle in this code `70-64aec8f3`/#72, we'll resolve it later

[2015-10-31 14:31] krzyk opened #73 "XmlDocument.registerNs changes parent contrains"
When running a build with jcabi-xml 0.16.2, hibernate validators 5.0.0.Final and jcabi-aspects 0.22.1 I get following error:
[code]

Please fix `XML` and `XMLDocument` to work without such exceptions.

[2015-11-04 08:31] dmarkov commented on #73
@yegor256 please take a look at it and dispatch (see [par.21](http://www.teamed.io/policy.html#21))

[2015-11-04 21:05] yegor256 commented on #73
@krzyk I don't understand how to reproduce this on master branch. Keep in mind that if something doesn't work in your branch, after your changes, it's your job to fix (or skip) that. Or I misunderstood the ticket?

[2015-11-04 22:10] krzyk commented on #73
@yegor256 I meant a build of other project. Basically using both jcabi-xml, hibernate validators and jcabi-aspects in a single project results in the above error during a build.
The problem is that the method `registerNs` looks like this in `XML`:
[code]

And it looks like this in `XmlDocument`:
[code]

I assume that using `message` in the `@NotNull` in `XML` and not using it in `XmlDocument` caus

[2015-11-05 03:59] yegor256 commented on #73
@krzyk hm.. strange. anyway, here is the fix: e5ce3f6

[2015-11-05 04:00] yegor256 commented on #73
@rultor release, tag is `0.16.4`

[2015-11-05 04:01] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5651-153949238)

[2015-11-05 04:19] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5651-153949238) (took me 18min)

[2015-11-05 04:23] yegor256 commented on #73
@krzyk try 0.16.4

[2015-11-05 07:17] krzyk commented on #73
@yegor256 thanks, it fixed the error

[2015-11-05 07:17] #73 closed

[2015-11-10 08:07] yegor256 opened #74 "some dependencies are outdated"
See https://www.versioneye.com/user/projects/561a9e86a193340f2f00115e#tab-security:

[code]

Let's fix that.

[2015-11-13 08:27] dmarkov commented on #74
@yegor256 I tagged this as "bug"

[2015-11-13 10:56] dmarkov commented on #74
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-74836dd3`

[2015-12-07 03:00] carlosmiranda opened #94 "StrictXML throws NullPointerException if xsi:schemaLocation attr is not specified"
The following test fails with a `NullPointerException`:
[code]

We get the following error trace:
[code]

The following test passes (i.e. it properly throws `IllegalArgumentException`):
[code]

We should fix it. None of our code should throw `NullPointerException`, it is too vague and useless.

[2015-12-10 08:02] dmarkov commented on #94
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-10 10:22] dmarkov commented on #94
@carlosmiranda thanks for the ticket, your account was topped for 15 mins, payment 71811380

[2015-12-15 05:30] simonjenga opened #96 "inputStream in com.jcabi.xml.ClasspathInput.getStringData() never closes"
inputStream in ```com.jcabi.xml.ClasspathInput.getStringData()``` never closes

<hr id='w'>

[2015-12-15 15:20] yegor256 opened #97 "allow different types of XSL params"

[2015-12-15 15:20] #97 closed

[2015-12-15 15:36] yegor256 commented on #97
@rultor release, tag is `0.17`

[2015-12-15 15:37] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5965-164800460)

[2015-12-15 15:51] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5965-164800460) (took me 15min)

[2015-12-16 05:52] simonjenga opened #98 "ClasspathInput#getStringData() should specify encoding type"
```ClasspathInput.getStringData()``` doesn't specify an encoding type at the line:

```return IOUtils.toString(this.stream);```

This may be a source of encoding problems.

In order to ensure backward compatibility with ```JDK 6```:

```return IOUtils.toString(this.stream, java.nio.charset.Charset.forName("UTF-8"));```

Unlike using ```java.nio.charset.StandardCharsets.UTF_8``` which was introduce

[2015-12-17 07:08] simonjenga opened #99 "base parameter ClasspathSources.resolve(String, String) is unused"
```base``` parameter in ```ClasspathSources.resolve(String, String)``` is unused

[2015-12-18 07:52] dmarkov commented on #96
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2015-12-18 11:33] yegor256 commented on #96
@simonjenga looks like a bug, thanks

[2015-12-18 13:00] dmarkov commented on #96
@simonjenga thanks for the ticket, your account was topped for 15 mins, payment 72455878

[2015-12-21 07:49] dmarkov commented on #98
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-21 07:49] dmarkov commented on #99
@yegor256 please dispatch this issue

[2015-12-21 08:39] yegor256 commented on #99
@simonjenga how would you suggest to use it?

[2015-12-21 08:40] yegor256 commented on #98
@simonjenga definitely a bug, thanks

[2015-12-21 10:27] dmarkov commented on #98
@simonjenga many thanks for the report, I topped your account for 15 mins, transaction 72547317

[2015-12-22 06:49] simonjenga commented on #99
@yegor256 When loading a stream from local address, ```href``` and ```base``` are used to try to find and return a resource, which is absolute. They are also used to compose a local path from path component and base.

[code]

[2015-12-23 07:13] simonjenga opened #100 "XPathContext is not immutable and thread-safe"
The class `com.jcabi.xml.XPathContext` is not immutable and thread-safe as it's documentation states.

This class has `mutator/setter` methods that can bring about change/modification after original initialization of an instance of this class.

[code]

Moreover, if multiple threads execute these methods there will be `ConcurrentModifications` of an instance of this class making it not thread safe.

[2015-12-23 07:20] dmarkov commented on #99
@simonjenga many thanks for the bug report, I added 15 mins to your acc, transaction `72934253`

[2015-12-24 08:13] simonjenga opened #101 "StrictXML is not immutable and thread-safe"
The class `com.jcabi.xml.StrictXML` is not immutable and thread-safe as it's documentation states.

This class has `mutator/setter` methods that can bring about change/modification after original initialization of an instance of this class.

[code]

The method `com.jcabi.xml.StrictXML.print(Collection<SAXParseException>)` uses `java.util.ArrayList<String>` which is not synchronized.

The method `c

[2015-12-25 07:31] simonjenga opened #102 "unnecessary public constant in TextResource"
The ```public constant``` in the class ```com.jcabi.xml.TextResource.ENCODING``` is unnecessary.

[code]

[2015-12-26 18:15] simonjenga opened #103 "inputStream in XSDDocumentTest doesn't specify encoding type"
```inputStream``` in ```com.jcabi.xml.XSDDocumentTest``` doesn't specify encoding type

[code]

We're not quite sure which encoding type these tests pass against or which they may fail against.
Please supply the encoding type for clarity.

[2015-12-28 10:24] dmarkov commented on #102
@yegor256 please do something about this issue

[2015-12-28 10:24] dmarkov commented on #100
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2015-12-28 10:24] dmarkov commented on #101
@yegor256 please do something about this issue

[2015-12-30 07:42] dmarkov commented on #103
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-30 11:53] dmarkov commented on #99
@ivanjunckes this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-04 17:12] krzyk commented on #94
@yegor256 could we dispatch this one? It is (at least looks like) the root cause of https://github.com/teamed/qulice/issues/498

[2016-01-04 19:59] yegor256 commented on #94
@dmarkov assign @dmzaytsev here pls

[2016-01-05 07:07] dmzaytsev commented on #94
@dmarkov PR #104 ready for review

[2016-01-05 10:05] dmarkov commented on #94
@yegor256 OK @dmzaytsev please proceed, this task is yours

[2016-01-05 14:17] dmzaytsev commented on #94
@carlosmiranda fixed in #104 please close if alright

[2016-01-06 01:24] carlosmiranda commented on #94
@dmzaytsev thanks!

[2016-01-06 01:24] #94 closed

[2016-01-06 01:24] carlosmiranda commented on #94
@yegor256 can we do a bugfix release for this?

[2016-01-06 11:11] yegor256 commented on #94
@rultor release, tag is `0.17.1`

[2016-01-06 11:12] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6192-169299273)

[2016-01-06 11:27] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6192-169299273) (took me 14min)

[2016-01-06 11:36] yegor256 commented on #102
@simonjenga fixed in 821fe23, thanks!

[2016-01-06 11:36] #102 closed

[2016-01-06 13:11] dmarkov commented on #103
@simonjenga thanks for this report, I added 15 mins to your account, in transaction `73948048`

[2016-01-07 11:37] dmarkov commented on #94
@dmzaytsev paid, thanks, added **1 hour** to your account, payment `73992099`, 22 hours was spent

there is a bonus for fast delivery (m=1320)

+60 added to your rating, current score is: [+1489](http://www.netbout.com/b/35166?open=rating)

[2016-01-08 07:31] simonjenga commented on #102
@yegor256 We should always try to minimize the scope of variables as much as possible. The constants now being global are available throughout the whole class BUT are only being used once.
Other methods shouldn't see them because it breaks encapsulation.

Another thing is memory. When you define it as a static it will be in program memory all the time.

Instead of a local constant field we should

[2016-01-08 19:44] yegor256 commented on #102
@simonjenga very good point! fixed in 9c06484

[2016-01-09 09:00] simonjenga opened #105 "XSLDocumentTest should test for empty transform stylesheet"

[2016-01-09 09:22] simonjenga commented on #102
@yegor256  :thumbsup: :ok:

[2016-01-10 11:54] simonjenga opened #106 "inputStream in XMLDocumentTest doesn't specify encoding type"
```inputStream``` in ```com.jcabi.xml.XMLDocumentTest``` doesn't specify encoding type

[code]

We're not quite sure which encoding type these tests pass against or which they may fail against.
Please supply the encoding type for clarity.

[2016-01-12 09:10] dmarkov commented on #105
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-13 12:26] dmarkov commented on #106
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-14 02:53] yegor256 commented on #106
@simonjenga but the text is in plain English, no need to specify encoding there. any encoding will work.

[2016-01-14 02:53] #106 closed

[2016-01-14 11:59] dmarkov commented on #99
@ivanjunckes the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

added -30 to your rating, now it is equal to [-210](http://ww

[2016-01-16 06:38] dmzaytsev opened #107 "broken link to API page on http://xml.jcabi.com/"
when I clicked to API link(1)  on http://xml.jcabi.com/ I get valid page
but if I clicked to link (2) I get broken page

![image](https://cloud.githubusercontent.com/assets/9972909/12370938/7c16d536-bc45-11e5-884b-3903a949b2da.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12370923/0151fa38-bc45-11e5-88f7-28741e99605a.png)

I expect valid links to the API

[2016-01-19 07:08] dmarkov commented on #107
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-19 09:38] dmarkov commented on #99
@piddubnyi it's in your hands now, please proceed

[2016-01-24 16:08] mkordas opened #110 "Add support to validate XML against XSD 1.1"
Currently method `com.jcabi.xml.XSDDocument#validate` uses XSD 1.0 parser. XSD 1.1 has couple of new features added, like possibility to require exactly one attribute out of two that will be useful in other Teamed projects.

I'd expect just to replace 1.0 parser with 1.1, as version 1.1 is just superset of 1.0.

[2016-01-25 08:24] piddubnyi commented on #99
@simonjenga Fix is merged. Please close the issue.

[2016-01-26 05:01] yegor256 commented on #107
@rultor release, tag is `0.17.2`

[2016-01-26 05:01] yegor256 commented on #107
@dmzaytsev it's fixed already, let's wait for release

[2016-01-26 05:01] #107 closed

[2016-01-26 05:02] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6592-174828630)

[2016-01-26 05:17] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6592-174828630) (took me 14min)

[2016-01-26 06:52] simonjenga commented on #99
@piddubnyi :thumbsup: :ok:

[2016-01-26 06:52] #99 closed

[2016-01-26 10:17] dmarkov commented on #98
@piddubnyi the task is yours, go ahead

[2016-01-27 10:46] dmarkov commented on #99
@piddubnyi thanks, I just added **30 mins** to your account, payment `75784881`, 168 hours and 36 mins spent

added +30 to your rating, now it is equal to [+90](http://www.netbout.com/b/35966?open=rating)

[2016-01-28 08:29] dmarkov commented on #110
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-29 21:10] yegor256 commented on #110
@mkordas but we're not using any specific parser. we're just using JDK. parser is provided in runtime. or I didn't get the problem?

[2016-01-29 21:27] mkordas commented on #110
@yegor256 you are right! Do you think it is in scope of integration test, Javadoc or http://xml.jcabi.com/example-xsd.html to provide instruction how to enable XSD 1.1 parsing?

[2016-01-29 21:32] piddubnyi commented on #98
@simonjenga Fixed in #111, Please close.

[2016-01-29 22:15] yegor256 commented on #110
@mkordas yes, let's document it

[2016-01-30 07:33] simonjenga commented on #98
@piddubnyi :thumbsup: :ok:
```IOUtils.toString(this.stream, "UTF-8");``` would also do good.

[2016-01-30 07:33] #98 closed

[2016-02-01 09:45] dmarkov commented on #110
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `56af291dc2680807d7000398`

[2016-02-04 07:34] dmarkov commented on #98
@piddubnyi thanks, paid, **30 mins** to your account, payment ID is `76498334`, task took 143 hours and 20 mins to complete; added +30 to your rating, now it is equal to [+210](http://www.netbout.com/b/35966?open=rating)

[2016-02-08 07:58] dmarkov commented on #96
@amihaiemil could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-19 00:00] ifly6 opened #113 "Getting ClassNotFoundException"
I've followed the instructions to add jcabi-xml-0.17.2.jar (from [here](http://xml.jcabi.com/index.html)) to the buildpath. Eclipse is telling me:

[code]

The website tells me

So I'm puzzled.

[2016-02-22 09:17] dmarkov commented on #113
@yegor256 please do something about this issue

[2016-02-23 11:58] dmarkov commented on #96
@amihaiemil you're working with this issue for 15 days already. -30 to your rating, your total score is [+30](http://www.netbout.com/b/36402?open=rating)

[2016-02-23 12:00] amihaiemil commented on #96
@dmarkov I need more time

[2016-02-23 12:00] amihaiemil commented on #96
@dmarkov The PR is created and reviewed, waiting for Yegor's approval to merge.

[2016-02-23 12:00] amihaiemil commented on #96
@yegor256 Can you have a look at PR #112 and let it mege if everything's ok? Thanks

[2016-02-24 09:06] dmarkov commented on #96
@amihaiemil OK, take your time

[2016-02-24 17:58] amihaiemil commented on #96
@dmarkov The PR #112 for this has just been merged and closed. Please close this ticket. Thanks.

[2016-02-25 20:50] amihaiemil commented on #96
@simonjenga The PR for this ( #112 ) has been merged and closed. Please close this ticket. Thanks.

[2016-02-26 06:17] simonjenga commented on #96
@amihaiemil I am reviewing it and I will close it shortly...

[2016-02-27 01:35] theos-space opened #114 "Getting an error that has to do with your code, no idea why"
[code]

I've already checked my code over a few times and there's nothing wrong with it, any ideas?

[2016-02-28 08:55] amihaiemil commented on #96
@simonjenga Can you close this? The PR has also been deployed. Thanks.

[2016-02-29 08:06] simonjenga commented on #96
@amihaiemil The variable ```final String data``` is not needed. Let's remove it.

[2016-02-29 08:21] amihaiemil commented on #96
@simonjenga Shouldn't you open another issue regarding other changes? The PR has been reviewed and accepted already. Anymore changes I think should be asked in new issues. It's not that I don't want to do it, but if we follow the rules, then this issue will be taken from me before being closed. It will take days again to be reviewed and merged.

[2016-02-29 10:20] dmarkov opened #115 "StrictXMLTest.java:60-63: Fix the tests passesValidXmlUsingXsiSchemaLocation() and..."
Puzzle `96-5e311117` in `src/test/java/com/jcabi/xml/StrictXMLTest.java:60-63` has to be resolved: Fix the tests passesValidXmlUsingXsiSchemaLocation() and rejectsInvalidXmlUsingXsiSchemaLocation() which started failing with exception from SaxParser (http://maven.apache.org/maven-v4_0_0.xsd; White spaces are required between publicId and systemId).... The puzzle was created by Mihai Andronache on

[2016-02-29 10:20] dmarkov commented on #96
@simonjenga the code made here contains a puzzle `96-5e311117`/#115, which will be resolved soon

[2016-02-29 15:24] amihaiemil commented on #96
@yegor256 The author of this issue asks for changes after the PR has been merged, closed and deployed. See my comment above. What do you think? I never came accros this sitiuation before.

[2016-02-29 16:44] yegor256 commented on #96
@amihaiemil one task may have many pull requests. the task is "done" only when its author is happy. you may have to submit a number of pull requests for that. if the OP is not reasonable and asks too much in scope of one ticket, you may complain to the project architect (myself). but don't expect that your one PR will solve a problem.

[2016-02-29 17:17] amihaiemil commented on #96
@dmarkov I created PR #116 for this issue. Please assign a reviewer. Thanks.

[2016-03-01 07:23] simonjenga commented on #96
@dmarkov I will be closing this issue ASAP since PR #116 has already been submitted and requires a minimal review which i expect to be done shortly.

@amihaiemil As the Architect has explained to you above, one PR is sometimes not enough to do a fix to an issue. Also, a PR that has been merged, closed and deployed does not guarantee that an issue will be closed by an author. Everyone involved in a

[2016-03-01 08:01] dmarkov commented on #114
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-01 08:06] amihaiemil commented on #96
@simonjenga Sure. Thank you. .

[2016-03-02 04:01] yegor256 commented on #114
@theos-space you need to add this dependency to classpath: jcabi-immutable (http://immutable.jcabi.com/)

[2016-03-02 06:30] simonjenga commented on #96
@dmarkov @amihaiemil :thumbsup: :ok:

[2016-03-02 06:30] #96 closed

[2016-03-03 11:54] dmarkov commented on #96
@amihaiemil thanks, I just added **30 mins** to your account, payment `AP-6CA55205YV7277114`, 551 hours and 6 mins spent; +30 to your rating, your total score is [+45](http://www.netbout.com/b/36402?open=rating)

[2016-03-10 22:32] mkordas commented on #110
@yegor256 actually I've realized that we may have to modify line https://github.com/jcabi/jcabi-xml/blob/master/src/main/java/com/jcabi/xml/XSDDocument.java#L158. We should set it to `http://www.w3.org/XML/XMLSchema/v1.1` according to https://xerces.apache.org/xerces2-j/faq-xs.html

[2016-03-21 07:32] dmarkov commented on #115
@nikoladespotoski it's in your hands now, please proceed

[2016-03-21 07:36] NikolaDespotoski commented on #115
@dmarkov assign someone else.

[2016-03-21 10:53] dmarkov commented on #115
@nikoladespotoski no problem, I will try to find somebody else

[2016-03-25 08:18] dmarkov commented on #115
@amihaiemil please go ahead with this task, it's yours

[2016-03-26 19:07] amihaiemil commented on #115
@dmarkov I created PR #118 for this issue. Please assign a reviewer. Thanks.

[2016-03-29 14:52] amihaiemil opened #119 "ClasspathInput.java fixes"
``com.jcabi.xml.ClasspathInput`` is currently filled with methods which are"//intentionally empty" or return null.
Some of them can be properly implemented, some of them I think should throw UnsupportedOperationException.

1) Parameters ``baseURI`` and ``encoding`` can be specified in the constructor when instanciating the class in ``ClasspathResolver.resolveResource``:
[code]
Then the getters and

[2016-03-29 15:21] amihaiemil commented on #113
@ifly6 See page http://xml.jcabi.com/dependencies.html regarding dependencies.

jcabi-xml-0.17.2.jar is lightweight and does not have the necessary runtime dependencies in it.
If you add jcabi-xml-0.17.2.jar to your classpath directly ("manually"), you also need to add the 3 compile dependencies mentioned on the page.

However, the easiest way is using Maven... just add the dependency snippet in y

[2016-03-29 20:53] amihaiemil commented on #115
@dmarkov PR #118 has been merged and closed. You can deploy it and close this issue. Thanks.

[2016-03-29 22:15] amihaiemil opened #120 "XMLDocumentTest.parsesInMultipleThreads() fails randomly"
The test fails because the final assertion is that all the started threads should end before timeout, which is 10 seconds.

Possible solutions:
1) increase the time out (other tests in the same class and in ``XSLDocumentTest`` have the timeout 30 seconds).

2) remove the assertion since it's not so relevant to the test anyway (to ensure the test won't fail at random again)

[2016-03-30 08:06] dmarkov commented on #115
@amihaiemil OK

[2016-03-31 20:51] amihaiemil commented on #115
@dmarkov ping

[2016-03-31 20:52] amihaiemil commented on #119
@dmarkov Can you do something about this pls? Thanks.

[2016-04-04 07:33] dmarkov commented on #115
@yegor256 Thanks all, closed

[2016-04-04 07:33] #115 closed

[2016-04-04 07:34] dmarkov commented on #115
@amihaiemil Much appreciated! **30 mins** was added to your account, payment ID `AP-71040305SJ5356835`, time spent is 171 hours and 30 mins. +30 added to your rating, at the moment it is: [+195](http://www.netbout.com/b/36402?open=rating)

[2016-04-04 07:34] dmarkov commented on #119
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-04-04 07:34] dmarkov commented on #120
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-04-04 18:00] longtimeago commented on #110
@yegor256 can we proceed here?

[2016-04-05 09:27] dmarkov commented on #120
@amihaiemil thanks for tis bug, I topped your account for 15 mins, transaction `AP-6MC66331E4214470F`

[2016-04-18 14:48] amihaiemil commented on #119
@yegor256 Can you take a look here, pls? Thanks.

[2016-04-19 08:04] dmarkov commented on #119
@amihaiemil thanks for the report, I topped your acc for 15 mins, payment ID `AP-5X422939NA2268401`

[2016-05-08 14:27] longtimeago commented on #110
@yegor256 could you please respond to messages above?

[2016-05-16 13:43] dmarkov commented on #96
@simonjenga the last puzzle `96-5e311117`/#115 originated from here solved

[2016-05-18 18:04] simonjenga commented on #96
@dmarkov Thanks for reaching out with the update on that puzzle fix.
It was a simple and smart fix from @amihaiemil

[code]

[2016-05-23 17:36] longtimeago commented on #110
@yegor256 ping :)

[2016-06-10 18:18] longtimeago commented on #110
@yegor256 please, proceed here :)

[2016-06-27 19:53] yegor256 commented on #110
@dmarkov pls assign @westonized to this ticket

[2016-06-28 11:13] dmarkov commented on #110
@yegor256 OK @westonized please proceed, this task is yours

[2016-07-24 10:11] longtimeago commented on #110
@westonized any progress so far?

[2016-08-22 08:39] dmarkov commented on #74
@amihaiemil please help, the task is yours

[2016-08-22 10:21] dmarkov commented on #72
@prondzyn please proceed, it's yours

[2016-08-22 11:39] amihaiemil commented on #74
@dmarkov PR #121 is for this issue

[2016-08-22 13:25] dmarkov commented on #74
@amihaiemil thanks

[2016-08-23 13:53] prondzyn commented on #72
@dmarkov PR #122 prepared

[2016-08-24 07:06] dmarkov commented on #72
@prondzyn thank you!

[2016-08-31 10:49] prondzyn commented on #72
@dmarkov I need more time. Still waiting on PR confirmation.

[2016-09-02 06:55] amihaiemil commented on #74
@dmarkov I need more time

[2016-09-02 10:20] dmarkov commented on #72
@prondzyn no problem, thanks for letting me know

[2016-09-02 10:20] dmarkov commented on #74
@amihaiemil yes, take your time, thanks for letting me know

[2016-09-05 17:39] amihaiemil commented on #74
@yegor256 close this pls

[2016-09-05 18:11] yegor256 commented on #74
@amihaiemil we can update xercesImpl?

[2016-09-05 18:16] amihaiemil commented on #74
@yegor256 we cannot, the current version is the latest one so far, and there isnt an earlier one that doesnt have the issue. But its just test scoped, so not so important, it wont affect users.

[2016-09-05 19:16] yegor256 commented on #74
@amihaiemil in that case we have to add some comment to `pom.xml` about this situation, otherwise the same ticket will show up in the future. Versioneye is complaing.

[2016-09-05 19:18] amihaiemil commented on #74
@yegor256 I see; I will make a pr with it as soon as I can :D

[2016-09-05 19:22] prondzyn commented on #72
@dmarkov PR merged. Please close the ticket.

[2016-09-06 06:27] amihaiemil commented on #74
@dmarkov I need more time

[2016-09-06 06:27] amihaiemil commented on #74
@dmarkov PR #123 is for this

[2016-09-06 08:31] dmarkov commented on #74
@amihaiemil take your time, I am aware that we're waiting here

[2016-09-06 08:31] dmarkov commented on #74
@amihaiemil thank you!

[2016-09-08 05:25] prondzyn commented on #72
@dmarkov I have a question. The task was opened by you. But puzzle was created by @yegor256. To whom should I address closing this taks?

[2016-09-08 07:56] dmarkov commented on #72
@prondzyn OK

[2016-09-08 12:20] #72 closed

[2016-09-08 12:20] dmarkov commented on #72
@yegor256 I'm closing the issue...

[2016-09-08 12:21] dmarkov commented on #72
@prondzyn Much obliged! I have added **30 mins** to your account in payment "AP-63C11102NJ440715D", 384 hours and 55 mins spent

+30 added to your rating, current score is: [+0](http://www.netbout.com/b/35715?open=rating)

[2016-09-13 12:41] mstarodubtsev opened #124 "Format XML string with different indents for nodes of different levels"
It is more convenient to see the printed XML document as the string with different indents for every level of the nodes hierarchy.
So we can get (maybe xml.toPrettyString()):

[code]

Instead of (now xml.toString(), with default javax.xml.transform.TransformerFactory):

[code]

[2016-09-19 09:15] dmarkov commented on #124
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-09-25 12:28] senleft opened #125 "Valid XML not passed validation"
Please see full stacktrace at http://pastebin.com/zK7HkMK8

Patterns.XML not matches specified XML (attached as planets.txt due github file extension restriction) as valid XML.
[planets.txt](https://github.com/jcabi/jcabi-xml/files/491642/planets.txt)

[2016-09-29 09:51] dmarkov commented on #125
@yegor256 please do something about this issue

[2016-10-19 08:09] dmarkov commented on #70
@yegor256 last puzzled solved `70-64aec8f3`/#72

[2016-11-21 15:23] amihaiemil commented on #74
@yegor256 now this can be closed :D

[2016-11-21 19:21] #74 closed

[2016-11-21 19:21] yegor256 commented on #74
@amihaiemil thanks!

[2016-11-22 07:06] dmarkov commented on #125
@amihaiemil it's yours, please help

[2016-11-22 07:56] amihaiemil commented on #125
@senleft can you give me the ``planets.xsl``? I am running a test with planets.xml file you attached and I'm getting the following error:

![image](https://cloud.githubusercontent.com/assets/6305156/20515313/b10826b6-b099-11e6-8f3a-605bdc43e061.png)

Which makes me thing the whole xml passes patterns validation but it doesn't find the ``xsl`` and so it fails.

[2016-11-22 08:09] amihaiemil commented on #125
@senleft I figured why I got the exception above it's not lack of xsl.
I also did try to instantiate an XmlDocument with the exact contents of planets.xml you attached and it worked

![image](https://cloud.githubusercontent.com/assets/6305156/20515696/6d6a2af6-b09b-11e6-9331-c72834079215.png)

And that XmlDocument constructor calls DomParser:

![image](https://cloud.githubusercontent.com/assets/63

[2016-11-22 08:24] senleft commented on #125
@amihaiemil Yes, I'm absolutely sure about it. I will try to reproduce it and attach the full project source.

[2016-11-22 08:25] amihaiemil commented on #125
@senleft sure, thanks. I will wait for that since I'm out of leads for the moment :)

[2016-11-23 08:44] dmarkov commented on #74
@amihaiemil done, I added **30 mins** in payment `AP-32222764780380007`, 2206 hours and 26 mins spent to complete this... +30 to your rating, your total score is [+1009](http://www.netbout.com/b/36402?open=rating)

[2016-11-25 20:35] amihaiemil commented on #125
@dmarkov assign someone else; no more time for this :(

[2016-11-25 20:36] amihaiemil commented on #125
@senleft I reproduced the problem (it's indeed a regex problem), but got no more time for this. Someone else should take it up soon. In the meantine, please don't turn off notifications from this post as in the end, you should be the one to close it. Thanks!

[2016-11-28 08:44] dmarkov commented on #125
@amihaiemil 30 points was deducted from your rating

[2016-11-28 08:44] dmarkov commented on #125
@amihaiemil someone else will help in this task, no problem at all

[2017-01-04 15:20] yegor256 opened #126 "FileSources"
Let's add it

[2017-01-04 15:29] yegor256 commented on #126
@rultor release, tag is `0.18`

[2017-01-04 15:29] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10505-270398436)

[2017-01-04 15:45] rultor commented on #126
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10505-270398436) (took me 16min)

[2017-01-04 15:46] #126 closed

[2017-01-10 15:42] yegor256 commented on #113
@ifly6 I'm closing this, since the problem seems to be fixed by @amihaiemil

[2017-01-10 15:42] #113 closed

[2017-01-10 15:45] yegor256 opened #127 "more documentation"

[2017-01-10 15:45] #127 closed

[2017-01-10 15:46] yegor256 commented on #127
@rultor release, tag is `0.18.1`

[2017-01-10 15:47] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10575-271610753)

[2017-01-10 16:03] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10575-271610753) (took me 16min)

[2017-02-03 18:53] DavidNovo opened #128 "escaping characters in an XMLDocument"
Hello,
I have an XMLDocument, using that class within jcabi.  The string used to create the XMLDocument mya contain a String payload.  The string contains undecoded characters like &ls; or &gt; and so on.

How can I decode these characters?  i.e. change them into < or >?

I have been told I do not need to use StringEscapeUtils from the Apache commons package.

[2017-02-03 18:53] 0crat commented on #128
@yegor256 please, pay attention to this issue

[2017-02-07 10:08] yegor256 commented on #128
@DavidNovo I'm not sure I understand, can you give a code example?

[2017-03-03 19:30] skapral opened #129 "Questions about working with namespaces in XMLDocument"
Good day.

[jcabi-xml-nonprefixed-xmlns.tar.gz](https://github.com/jcabi/jcabi-xml/files/817682/jcabi-xml-nonprefixed-xmlns.tar.gz)

Attached a project with unit tests, explaining what I am trying to achieve.

Generally, I have two questions:
1. Isn't it possible to do namespace registration implicitly and directly from XML provided?
2. I know that it is usually not a good practice, but can't we r

[2017-03-03 19:30] 0crat commented on #129
@yegor256 please, pay attention to this issue

[2017-03-08 16:35] skapral commented on #129
Digging out further, I found this unit test:
https://github.com/jcabi/jcabi-xml/blob/master/src/test/java/com/jcabi/xml/XMLDocumentTest.java#L81

Sounds like what I am looking for. However, I don't quite understand why it is possible to use XPath over xhtml elements here without explicitely registering namespace for http://www.w3.org/1999/xhtml?

[2017-03-08 16:48] skapral commented on #129
Ok, after finding https://github.com/jcabi/jcabi-xml/blob/master/src/main/java/com/jcabi/xml/XPathContext.java it all comes to places. This class declares defaults like xhtml. Thats why XPath over xhtml passes while XPath over my schema is not.

No more questions then.

[2017-03-08 16:48] #129 closed

[2017-03-17 12:41] gicoprasico opened #130 "XPath with a namespace does not work"
Hi i tried this simple example, and i am getting an error:

`		XML xmlRequest = new XMLDocument("<a xmlns='urn:foo'><b>yes!</b></a>");
		xmlRequest.registerNs("foo", "urn:foo");
		String result = xmlRequest.xpath("//foo:b/text()").get(0);`

The error I receive is:

`java.lang.IllegalArgumentException: invalid XPath query '//foo:b/text()' at org.apache.xpath.jaxp.XPathFactoryImpl
	at org.apache.xpa

[2017-03-17 12:41] 0crat commented on #130
@yegor256 please, pay attention to this issue

[2017-03-17 12:53] gicoprasico commented on #130
@yegor256 ,sorry, it seems you forgot to reference the issue.

[2017-03-22 22:10] skapral opened #131 "Document structure is not preserved when doing xpath on XML object"
Attached tests demonstrating the issue

[proba-xml.tar.gz](https://github.com/jcabi/jcabi-xml/files/863055/proba-xml.tar.gz)

It seems like every call on XML::nodes method creates an independent version(s) of document(s) with root(s) on the node(s) found, which in turn makes navigation to parent nodes impossible.

[2017-03-22 22:10] 0crat commented on #131
@yegor256 please, pay attention to this issue

[2017-04-03 08:55] skapral commented on #130
Disclaimer: I'm not a jcabi-xml owner, my answer just came from my experience of its usage.

XMLDocument is immutable. So, to apply a namespace, you must chain the calls, like that:

[code]

[2017-04-07 21:25] gicoprasico commented on #130
Hi Skarpal. Thanks for your answer! It works!

[2017-04-25 12:38] #130 closed

[2017-04-28 06:03] yegor256 commented on #131
@skapral with your permission I'll post it here:

[code]

[2017-04-28 06:09] yegor256 commented on #131
@skapral this is _by design_ I guess. This is what happens in your code. First, we [fetch](https://github.com/jcabi/jcabi-xml/blob/0.18.1/src/main/java/com/jcabi/xml/XMLDocument.java#L429):

[code]

Then, we [create](https://github.com/jcabi/jcabi-xml/blob/0.18.1/src/main/java/com/jcabi/xml/XMLDocument.java#L356-L360) new _immutable_ objects of class `XMLDocument`:

[code]

Then, we [serialize it]

[2017-04-28 10:52] skapral commented on #131
@yegor256 If it is all about immutability, then I guess introducing method XML::node was a dangerous idea initially. According to its javadoc, it is supposed to unwrap the wrapped node, which is stated in its documentation:

In reality, this statement breaks after applying any XPath on XML. XML:nodes javadoc states that it:

And it is not the whole truth: nobody tells that besides extracting these

[2017-04-28 16:05] skapral opened #133 "org.jcabi.xml.XML::node method should be deprecated/removed"
Originally, idea came from discussion raised in https://github.com/jcabi/jcabi-xml/issues/131

Arguments for its removal:
- It exposes the details of how the framework operates inside - the DOM. It makes extending the framework harder: DOM is not the only way to process the XML document, but every implementation must deal with it until the method exist.
- It makes proper encapsulation harder for t

[2017-04-28 16:05] 0crat commented on #133
@yegor256 please, pay attention to this issue

[2017-04-28 16:07] skapral commented on #131
The previous message is rather long, so I decided to outline it to separate issue. In scope of this one, what do you think about this statement?

[2017-05-01 16:50] yegor256 commented on #133
@skapral well, I can understand your logic, but there are many projects that use this method. A few of mine too. And I don't really think that it's a problem, since `node()` always return a new `Node`. Remember, `XMLDocument` is immutable.

[2017-05-01 16:50] #133 closed

[2017-05-25 15:43] jmd-usgs opened #134 "DomParser gives up before it tries parsing"
I am getting java.lang.IllegalArgumentException: Doesn't look like XML: '[snip]...\OLD_001_QRev.xml'
at com.jcabi.xml.DomParser.(DomParser.java:90)
at com.jcabi.xml.XMLDocument.(XMLDocument.java:155) ...

I am using jcabi-xml-0.18.1.jar

The XML file parses fine elsewhere. I believe DomParser is giving up before it actually tries to parse the file.

Right now, I think the DomParser code is doing s

[2017-05-25 15:43] 0crat commented on #134
@yegor256 please, pay attention to this issue

[2017-05-30 00:19] #114 closed

[2017-05-30 00:19] 0crat commented on #114
Oops! Job `gh:jcabi/jcabi-xml#114` was not in scope

[2017-06-13 19:46] yegor256 opened #135 "custom resource resolver for StrictXML"
Let's make it possible to specify a custom `LSResourceResolver`

[2017-06-14 13:33] yegor256 commented on #135
@rultor release, tag is `0.19`

[2017-06-14 13:35] rultor commented on #135
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11976-308432169)

[2017-06-14 13:42] rultor commented on #135
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11976-308432169) (spent 7min)

[code]

[2017-06-14 13:50] yegor256 commented on #135
@rultor release, tag is `0.19`

[2017-06-14 13:52] rultor commented on #135
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11976-308437217)

[2017-06-14 14:18] rultor commented on #135
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11976-308437217) (took me 26min)

[2017-06-14 14:20] #135 closed

[2017-06-14 14:20] 0crat commented on #135
Oops! Job `gh:jcabi/jcabi-xml#135` was not in scope

[2017-07-18 10:04] yegor256 commented on #134
@jmd-usgs I think that you're giving it your file name instead of its content. Try this:

[code]

[2017-07-18 10:07] yegor256 commented on #131
@skapral yes, I like the idea of introducing another `XML` implementation, which will behave differently. But don't forget to change the documentation at the `XML` interface.

[2017-07-19 21:24] skapral commented on #131
After looking at the issue with fresh mind, I found more compact solution. See the PR.

[2017-08-15 06:38] yegor256 opened #137 "Set systemId for XSLDocument"
Let's make it possible to set `systemId` for `XSLDocument`.

[2017-08-15 06:39] yegor256 commented on #137
@0crat assign me

[2017-08-15 06:39] 0crat commented on #137
@yegor256 Job `gh:jcabi/jcabi-xml#137` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-15 06:39] 0crat commented on #137
+15 points just awarded to @yegor256, total is [+1800](http://www.0crat.com/u/yegor256).

[2017-08-15 06:48] yegor256 commented on #137
@rultor release, tag is `0.20`

[2017-08-15 06:49] rultor commented on #137
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12684-322390321)

[2017-08-15 07:11] rultor commented on #137
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12684-322390321) (took me 23min)

[2017-08-15 07:14] 0crat commented on #137
Job `gh:jcabi/jcabi-xml#137` is now out of scope.

[2017-08-15 07:15] 0crat commented on #137
+30 points just awarded to @yegor256, total is [+1830](http://www.0crat.com/u/yegor256).

[2017-08-28 02:21] qiangbro opened #138 "Some issue about xpath & nodes method of XMLDocument in jcabi-xml version0.20"
I have a xml document structure as below:

    <structure_info> ---> root node
        <pages>
            <spread pageId="0" fileName="2383-1.pdf"/>
            <spread pageId="1">
                <page fileName="2383-2.pdf"/>
                <page fileName="2383-2.pdf"/>
            </spread>
            <spread pageId="2">
                <page fileName="2383-3.pdf"/>
                <page file

[2017-08-28 02:21] 0crat commented on #138
@yegor256 please, pay attention to this issue

[2017-08-28 07:17] yegor256 commented on #138
@qiangbro this is the modification we introduced in 0.20. You can see the reasoning here: https://github.com/jcabi/jcabi-xml/issues/131

[2017-08-29 09:57] qiangbro commented on #138
@yegor256
Do you have any immigration guide for jcabi-xml 0.20?
or, What should I do to upgrade my code ( for example, the code I gave above) to keep the compatibility with the new version of jcabi-xml?

[2017-08-30 08:08] yegor256 commented on #138
@qiangbro instead of `spread.nodes("//page")` just do this: `spread.nodes(".//page")`. I believe this will solve the problem. If not, please let me know.

[2017-08-31 04:09] qiangbro commented on #138
@yegor256 Yes, it works.
Now `spread.nodes(".//page")` returns all page nodes under current spread, very good.
thank you.

[2017-08-31 05:11] yegor256 commented on #138
@qiangbro great, please close the ticket :)

[2017-08-31 12:04] #138 closed

[2017-08-31 12:05] 0crat commented on #138
Oops! Job `gh:jcabi/jcabi-xml#138` was not in scope

[2017-09-25 14:38] yegor256 opened #139 "XSLDocument must throw exceptions on errors"
`XSLDocument` must throw exceptions on errors

[2017-09-25 14:50] yegor256 commented on #139
@rultor release, tag is `0.20.1`

[2017-09-25 14:51] rultor commented on #139
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13006-331906122)

[2017-09-25 15:15] rultor commented on #139
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13006-331906122) (took me 24min)

[2017-09-25 15:16] #139 closed

[2017-09-25 15:16] 0crat commented on #139
Oops! Job `gh:jcabi/jcabi-xml#139` was not in scope

[2017-10-06 13:39] yegor256 opened #140 "more ctors"

[2017-10-06 13:47] yegor256 commented on #140
@rultor release, tag is `0.21`

[2017-10-06 13:47] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13087-334759705)

[2017-10-06 13:55] rultor commented on #140
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13087-334759705) (spent 7min)

[code]

[2017-10-06 14:14] yegor256 commented on #140
@rultor release, tag is `0.21`

[2017-10-06 14:15] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13087-334767124)

[2017-10-06 14:38] rultor commented on #140
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13087-334767124) (took me 23min)

[2017-10-06 14:55] #140 closed

[2017-10-06 14:55] 0crat commented on #140
Oops! Job `gh:jcabi/jcabi-xml#140` was not in scope

[2017-11-22 20:32] yegor256 opened #142 "more logging required for XSL parsing"
Let's add it.

[2017-11-22 20:36] yegor256 commented on #142
@rultor release, tag is `0.21.1`

[2017-11-22 20:36] rultor commented on #142
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13441-346466453)

[2017-11-22 20:58] rultor commented on #142
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13441-346466453) (took me 21min)

[2018-01-27 00:33] #131 closed

[2018-01-27 00:34] 0crat commented on #131
Job `gh:jcabi/jcabi-xml#131` is not assigned, can't get start time

[2018-01-27 00:44] 0crat commented on #131
Job [#131](https://github.com/jcabi/jcabi-xml/issues/131) was not in scope

[2018-02-11 16:36] skapral opened #143 "XPath is not working correctly on XML documents with schemas"
Assume the following test suite:

[code]

...where `pom.xml` is the POM file, taken from Takes framework ([link](https://raw.githubusercontent.com/yegor256/takes/master/pom.xml)) and `pom_wo_schemas.xml` is the same POM file with all attributes from root `project` element removed.

First three tests fail with similar exception:
[code]

Forth successfully passes.

It seems that either jcabi xml is

[2018-02-11 16:36] 0crat commented on #143
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:33] yegor256 commented on #143
@skapral here is what you need:

[code]

[2018-03-06 06:06] yegor256 opened #144 "XSLChain doesn't support with()"
`XSLChain` doesn't support `with()`

[2018-03-06 06:11] yegor256 commented on #144
@rultor release, tag is `0.21.2`

[2018-03-06 06:13] rultor commented on #144
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14053-370675129)

[2018-03-06 06:35] rultor commented on #144
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14053-370675129) (took me 22min)

[2018-03-06 06:38] #144 closed

[2018-03-08 20:32] yegor256 opened #145 "report XSL error messages inside exception text"
Now they go only to the log.

[2018-03-08 20:47] yegor256 commented on #145
@rultor release, tag is `0.21.3`

[2018-03-08 20:48] rultor commented on #145
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14088-371619191)

[2018-03-08 21:10] rultor commented on #145
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14088-371619191) (took me 21min)

[2018-03-08 21:10] #145 closed

[2018-03-08 21:25] 0crat commented on #145
The job is not in WBS, won't close the order

[2018-03-09 14:08] yegor256 opened #146 "xml:message output is not captured in Saxon 9.8"
Let's fix.

[2018-03-09 14:13] yegor256 commented on #146
@rultor release, tag is `0.21.4`

[2018-03-09 14:14] rultor commented on #146
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14097-371823008)

[2018-03-09 14:38] rultor commented on #146
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14097-371823008) (took me 23min)

[2018-03-09 15:22] #146 closed

[2018-03-09 15:37] 0crat commented on #146
The job is not in WBS, won't close the order

[2018-03-18 10:10] borizm commented on #143
XMLDocument should have the initialization of the factory delayed, all all the constructors should be private or protected, and the builder pattern should be used.
We should delay setting
documentFactory.setNamespaceAware(namespaceAwarness);
to true, base on the fact registerNs() was invoked or not.

It could look like that:

XMLDocument.of()
  .namespaces().add("m", "http://maven.apache.org/POM/4

[2018-05-31 03:40] shonve opened #147 "How to code in Chinese"
How to code in Chinese

[2018-05-31 03:40] 0crat commented on #147
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-31 03:40] 0crat commented on #147
@shonve[/z](https://www.0crat.com/u/shonve) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 06:26] shonve commented on #147
no problem

[2018-05-31 06:26] #147 closed

[2018-05-31 06:26] 0crat commented on #147
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): Issue: jcabi/jcabi-xml#147, Action: `closed`

[2018-05-31 06:26] 0crat commented on #147
@shonve[/z](https://www.0crat.com/u/shonve) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-31 06:41] 0crat commented on #147
The job is not in WBS, won't close the order

[2018-05-31 06:41] 0crat commented on #147
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: [1510671178](https://www.0crat.com/C3RUBL5H9/1510671178), Type: "Close job", Author: "shonve"

[2018-07-20 14:23] Glusk opened #148 "A subsequent query on an XPath result doesn't work"
I've run into a problem working with the library. I'm not entirely sure what's wrong, but [this test](https://github.com/Glusk2/jcabi-xml/pull/1/commits/a0bea4ad0c74005aaf7360c94469c99e896cb726) (minimized in this [commit](https://github.com/Glusk2/jcabi-xml/commit/785821b1a378db6e154925624f17b9613d62586f)) fails. Code in question:
[code]
produces this error:
[code]
May be related to: #62

[2018-07-20 14:23] 0crat commented on #148
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-20 14:23] 0crat commented on #148
@glusk2[/z](https://www.0crat.com/u/glusk2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-11 23:07] ilyakharlamov opened #149 "xpath result List<String> is not transitive"
[code]

outputs:

[2019-01-11 23:07] 0crat commented on #149
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-11 23:07] 0crat commented on #149
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-12 22:53] eglobetrotter commented on #125
I'm getting the same issue, here, I have absolutely valid XML and the pattern returns this exception:
java.lang.IllegalArgumentException: Doesn't look like XML: 'content of my valid xml file'

The issue seems to be in this string transformation: txt.replaceAll("\\s", "") before pattern check. For any reason it not only removes lines returns but also whitespaces, so from ﻿`<?xml version="1.0" encod

[2019-01-28 17:08] yegor256 commented on #149
@ilyakharlamov would you be interested in submitting a pull request?

[2019-01-28 17:46] ilyakharlamov commented on #149
@yegor256 the pull request have been sitting here for 2 weeks: #150

[2019-02-18 16:20] simonjenga opened #151 "XSLDocumentTest#stripsXml() fails"
This test failure seems to have been fixed at #47 but it now looks like the issue has come up again.

[code]

[2019-02-18 16:20] 0crat commented on #151
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-18 16:21] 0crat commented on #151
@simonjenga[/z](https://www.0crat.com/u/simonjenga) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 18:14] yegor256 commented on #149
@rultor release, tag is `0.21.5`

[2019-05-05 18:16] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18807-489449849)

[2019-05-05 18:38] yegor256 commented on #149
@ilyakharlamov thanks for the fix, the new release is coming...

[2019-05-05 18:42] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18807-489449849) (took me 25min)

[2019-11-08 12:33] yegor256 opened #152 "get rid of aspects"

[2019-11-08 14:03] yegor256 commented on #152
@rultor release, tag is `0.22.0`

[2019-11-08 14:05] rultor commented on #152
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20821-551839324)

[2019-11-08 14:24] rultor commented on #152
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20821-551839324) (spent 19min)

[code]

[2019-11-08 14:44] yegor256 commented on #152
@rultor release, tag is 0.22.1

[2019-11-08 14:47] rultor commented on #152
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20821-551854722)

[2019-11-08 15:04] rultor commented on #152
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20821-551854722) (took me 16min)

[2019-11-08 15:05] #152 closed

[2019-11-08 15:25] 0crat commented on #152
Job `gh:jcabi/jcabi-xml#152` is not assigned, can't get performer

[2019-11-08 15:25] 0crat commented on #152
This job is not in scope

[2020-01-24 09:23] longtimeago commented on #143
@borizm is this what actually prevents using proper search through XMLs with default namespace?

[2020-02-06 08:51] olegmoz opened #153 "XMLDocument constructor validation of XML declaration fails on valid XML document"
Here is example of valid XML that does not pass validation in XMLDocument constructor.
[code]

[2020-02-06 08:51] 0crat commented on #153
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-06 08:51] 0crat commented on #153
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-06 09:31] yegor256 commented on #153
@rultor release, tag is `0.22.2`

[2020-02-06 09:34] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21309-582814494)

[2020-02-06 09:40] rultor commented on #153
@olegmoz @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21309-582814494) (spent 5min)

[code]

[2020-02-06 09:51] yegor256 commented on #153
@rultor release, tag is `0.22.2`

[2020-02-06 09:52] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21309-582822272)

[2020-02-06 10:17] rultor commented on #153
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21309-582822272) (took me 24min)

[2020-02-06 11:33] yegor256 commented on #153
@olegmoz you can use version 0.22.2

[2020-02-06 11:33] #153 closed

[2020-03-05 15:37] piotrkot opened #154 "Xpath is broken"
I expect the below to pass but if fails - `nodes.get(1).xpath("//x/text()").get(0)` returns "1"
[code]

[2020-03-05 15:37] 0crat commented on #154
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-08-05 13:05] yegor256 commented on #154
@piotrkot this is because the root node is not changed, when you retrieve `nodes.get(1)`. Your root is still `<root>`

[2020-08-05 13:05] #154 closed

[2020-08-05 13:29] 0crat commented on #154
Job `gh:jcabi/jcabi-xml#154` is not assigned, can't get performer

[2020-08-10 07:20] piotrkot commented on #154
@yegor256 I would like to have it reopened. I had no time to react to your comment.

Let me explain the problem.
Based on the provided XML, all "a" nodes are found with `doc.nodes("//a")`.
This indeed finds two "a" nodes, and `List<XML> nodes` list contains two XML elements.
With `nodes.get(0)` I access the first one and `nodes.get(0).xpath("//x/text()").get(0)` is equal to "1".
I expect with `nod

[2020-08-10 07:22] yegor256 commented on #154
@piotrkot the XPath location `//` means "search from the ROOT of the document". Thus, no matter where you are at the moment, it will find you everything that exists in the entire document. This is a feature, not a bug :)

[2020-08-10 07:40] piotrkot commented on #154
@yegor256 Now I understand. Replacing `xpath("//x/text()")` with `xpath("x/text()")` solves my problem.
Thank you (and good to have you back with short response times :) )

[2020-08-10 07:50] yegor256 commented on #154
@piotrkot wring.io helps me a lot :)

[2020-08-10 08:05] piotrkot commented on #154
@yegor256 Yes, I know. I read you blog regularly :) But this issue was opened for 5 months ;)

[2020-08-10 08:05] yegor256 commented on #154
@piotrkot now I'm almost live on GitHub)

[2021-09-16 04:26] yegor256 opened #161 "new skin"
Let's release

[2021-09-16 05:17] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-16 05:18] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-920584429)

[2021-09-16 05:25] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-920584429) (spent 7min)

[code]

[2021-09-16 05:29] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-16 05:29] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-920590040)

[2021-09-16 05:36] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-920590040) (spent 7min)

[code]

[2021-09-16 09:47] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-16 09:48] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-920752596)

[2021-09-16 09:52] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-920752596) (spent 4min)

[code]

[2021-09-16 10:32] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-16 10:33] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-920783153)

[2021-09-16 10:40] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-920783153) (spent 7min)

[code]

[2021-09-16 14:01] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-920929318)

[2021-09-16 14:23] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-920929318) (spent 21min)

[code]

[2021-09-16 16:14] davewichers opened #162 "jacbi-xml library conflicts with use of Hibernate 3.6.10.Final"
I suspect this issue is similar to #73. Simply adding the latest version of this library to my pom (without any code changes anywhere), causes this during startup:

[code]

I'm using:
[code]

and same version of <artifactId>hibernate-entitymanager</artifactId> too.

No clue if this is enough info for you to figure out/fix the problem, but wanted to let you know about it.

[2021-09-16 17:36] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-16 17:38] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921098868)

[2021-09-16 17:46] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-921098868) (spent 8min)

[code]

[2021-09-17 04:48] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-17 04:49] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921465692)

[2021-09-17 04:53] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-921465692) (spent 4min)

[code]

[2021-09-17 05:01] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-17 05:02] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921486515)

[2021-09-17 05:12] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-921486515) (spent 9min)

[code]

[2021-09-17 06:05] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-17 06:06] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921524144)

[2021-09-17 06:08] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-921524144) (spent 2min)

[code]

[2021-09-17 06:27] yegor256 commented on #161
@rultor release, tag is `0.23.0`

[2021-09-17 06:28] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921533915)

[2021-09-17 06:36] rultor commented on #161
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25064-921533915) (spent 8min)

[code]

[2021-09-17 06:46] yegor256 commented on #161
@rultor release, tag is `0.23.1`

[2021-09-17 06:47] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25064-921542462)

[2021-09-17 07:05] rultor commented on #161
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25064-921542462) (took me 18min)

[2021-09-17 08:03] #161 closed

[2021-12-18 08:59] yegor256 opened #163 "remove hard-coded link to saxon"

[2021-12-18 09:29] yegor256 commented on #151
@simonjenga fixed

[2021-12-18 09:29] #151 closed

[2021-12-18 09:29] yegor256 commented on #149
@ilyakharlamov I believe it's fixed

[2021-12-18 09:29] #149 closed

[2021-12-18 09:29] yegor256 commented on #101
@simonjenga it's fixed already, I believe

[2021-12-18 09:29] #101 closed

[2021-12-18 09:30] yegor256 commented on #100
@simonjenga this is fixed already, I believe

[2021-12-18 09:30] #100 closed

[2021-12-18 10:23] yegor256 commented on #163
@rultor release, tag is `0.23.2`

[2021-12-18 10:25] rultor commented on #163
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25334-997181841)

[2021-12-18 10:45] yegor256 commented on #163
@rultor stop

[2021-12-18 10:46] rultor commented on #163
@yegor256 OK, I'll try to stop current task.

[2021-12-18 10:46] rultor commented on #163
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25334-997184111) (spent 21min)

[code]

[2021-12-18 10:49] #163 closed

[2021-12-29 05:23] yegor256 opened #164 "take xerces away from tests"

[2021-12-29 05:24] #164 closed

[2022-04-04 17:37] yegor256 opened #166 "not enough ctors in XSLDocument"

[2022-04-04 17:38] #166 closed

[2022-08-09 04:22] yegor256 opened #167 "new parent 1.33.0"

[2022-08-09 04:23] yegor256 commented on #167
@rultor release, tag is `0.24.0`

[2022-08-09 04:23] #142 closed

[2022-08-09 04:24] #61 closed

[2022-08-09 04:24] rultor commented on #167
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26451-1208895662)

[2022-08-09 04:39] rultor commented on #167
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26451-1208895662) (took me 15min)

[2022-08-09 04:45] 0crat commented on #61
Job `gh:jcabi/jcabi-xml#61` is not assigned, can't get performer

[2022-08-09 04:45] 0crat commented on #142
Job `gh:jcabi/jcabi-xml#142` is not assigned, can't get performer

[2022-08-09 05:00] #167 closed

[2022-08-09 05:09] yegor256 commented on #162
@davewichers try the latest version just released, it should work just fine I believe: 0.24.0

[2022-08-09 05:17] 0crat commented on #167
Job `gh:jcabi/jcabi-xml#167` is not assigned, can't get performer

[2022-08-12 04:17] yegor256 opened #168 "refresh"

[2022-08-12 06:10] yegor256 commented on #168
@rultor release, tag is `0.25.0`

[2022-08-12 06:12] rultor commented on #168
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26499-1212762767)

[2022-08-12 06:26] rultor commented on #168
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26499-1212762767) (took me 14min)

[2022-08-12 06:38] #168 closed

[2022-08-12 06:55] 0crat commented on #168
Job `gh:jcabi/jcabi-xml#168` is not assigned, can't get performer

[2022-08-22 05:46] IngeniariusSoftware opened #169 "Reusing `TransformerFactory.newInstance()`"
@yegor256, I got some result of profiling eo compiler for about 500 eo files:

calling TransformerFactory.newInstance() counted for 35.2% of CPU time and 28.29% of all memory

https://github.com/jcabi/jcabi-xml/blob/07259a2b8fdb49fb1b94db29f10e36837f483f9d/src/main/java/com/jcabi/xml/XSLDocument.java#L367-L371

It is possible to reuse TransformerFactory instance?

CPU:
![image](https://user-images

[2022-08-22 14:16] yegor256 opened #170 "compatibility with Saxon 11"

[2022-08-22 14:19] #162 closed

[2022-08-22 14:19] yegor256 commented on #170
@rultor release, tag is `0.25.1`

[2022-08-22 14:20] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26555-1222429619)

[2022-08-22 14:37] rultor commented on #170
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26555-1222429619) (took me 16min)

[2022-08-22 14:37] #170 closed

[2022-08-22 14:44] 0crat commented on #162
Job `gh:jcabi/jcabi-xml#162` is not assigned, can't get performer

[2022-08-22 15:11] yegor256 commented on #169
@IngeniariusSoftware I think the problem is not here, not in this library. Try version 0.27.1 of EO and measure the results again. Please, report your findings directly to `objectionary/eo` repository.

[2022-08-22 15:11] #169 closed

[2022-08-22 15:28] 0crat commented on #169
Job `gh:jcabi/jcabi-xml#169` is not assigned, can't get performer

[2022-08-25 03:57] yegor256 opened #171 "more logs about factories"

[2022-08-25 05:35] yegor256 commented on #171
@rultor release, tag is `0.25.2`

[2022-08-25 05:36] rultor commented on #171
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26585-1226797620)

[2022-08-25 05:50] rultor commented on #171
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26585-1226797620) (took me 14min)

[2022-08-25 06:40] #171 closed

[2022-08-25 06:57] 0crat commented on #171
Job `gh:jcabi/jcabi-xml#171` is not assigned, can't get performer

[2022-08-25 17:14] yegor256 opened #172 "load XSL only once per XSLDocument"

[2022-08-25 17:42] yegor256 commented on #172
@rultor release, tag is `0.25.3`

[2022-08-25 17:43] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26594-1227578938)

[2022-08-25 17:59] rultor commented on #172
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26594-1227578938) (took me 15min)

[2022-08-25 17:59] #172 closed

[2022-08-25 18:18] 0crat commented on #172
Job `gh:jcabi/jcabi-xml#172` is not assigned, can't get performer

[2022-08-29 05:57] yegor256 opened #173 "cache of factories in XSLDocument may grow too big"

[2022-08-29 05:58] #173 closed

[2022-08-29 06:15] 0crat commented on #173
Job `gh:jcabi/jcabi-xml#173` is not assigned, can't get performer

[2022-09-26 06:26] renovate[bot] opened #177 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.jcabi:jcabi to v1.35.0
 - [ ] Update dependency com.jcabi:jcabi-matchers to v1.6.0
 - [

[2022-09-28 06:41] yegor256 opened #182 "improve logging messages"

[2022-09-28 07:00] yegor256 commented on #182
@rultor release tag is `0.25.4`

[2022-09-28 07:01] rultor commented on #182
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27181-1260472615)

[2022-09-28 07:09] rultor commented on #182
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/27181-1260472615) (spent 7min)

[code]

[2022-09-28 07:28] yegor256 commented on #182
@rultor release tag is `0.25.4`

[2022-09-28 07:44] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27181-1260498875) (took me 14min)

[2022-09-28 07:51] #182 closed

[2022-09-28 08:08] 0crat commented on #182
Job `gh:jcabi/jcabi-xml#182` is not assigned, can't get performer

[2022-10-18 16:01] mximp opened #185 "`XSLDocument` is not thread-safe"
The following code fails:
[code]
Exception thrown:
[code]

[2022-10-23 17:42] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#185](https://github.com/jcabi/jcabi-xml/issues/185); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2022-10-28 18:44] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#185](https://github.com/jcabi/jcabi-xml/issues/185); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2022-11-02 19:43] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#185](https://github.com/jcabi/jcabi-xml/issues/185); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2022-11-03 04:51] yegor256 commented on #185
@mximp I added a test in 614eb9a, but it doesn't find a bug. Are you sure there is a problem in jcabi-xml?

[2022-11-03 09:02] mximp commented on #185
@yegor256 your test runs only once. This concurrent issue is not stable, hence in my version I added loop until exception is thrown. I checked your test with multiple executions and it resulted in the same error:
[code]

[2022-11-03 09:39] yegor256 commented on #185
@rultor release, tag is `0.25.5`

[2022-11-03 09:40] rultor commented on #185
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27814-1301847021)

[2022-11-03 09:49] rultor commented on #185
@mximp @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/27814-1301847021) (spent 10min)

[code]

[2022-11-03 15:13] yegor256 commented on #185
@mximp it's released as 0.25.5

[2022-11-03 15:19] mximp commented on #185
@yegor256 I guess it's not due to exception above. Also I don't see relevant tag in the repo.

[2022-11-03 15:21] yegor256 commented on #185
@mximp it was released, but site publishing failed. See https://repo.maven.apache.org/maven2/com/jcabi/jcabi-xml/

[2022-11-03 15:22] mximp commented on #185
@yegor256 got it. thanks

[2022-11-03 15:25] #185 closed

[2022-11-03 18:50] 0crat commented on #185
Job `gh:jcabi/jcabi-xml#185` is not assigned, can't get performer